.books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
  .book,
  .add-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: var(--mdc-protected-button-container-elevation-shadow);
    height: 300px;
  }
  .book:hover {
    transform: scale(0.9);
    box-shadow: var(--mdc-protected-button-hover-container-elevation-shadow);
  }
}
