nav,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  nav {
    .nav-item {
      padding: 10px;
      border-radius: 5px;
    }
  }
}
header,
main {
  padding: 1rem;
}
